<div  class=" hover:border hover:border-main p-2 hover:shadow-main rounded-2xl cursor-pointer group">
   <div [routerLink]='["/product-details",product._id]'>
    <img [src]="product.imageCover" alt="" class="w-full">
    <h5 class="text-main ">{{product.category.name}}</h5>
    <h4 class="font-bold line-clamp-1">{{product.title}}</h4>
    <div class="flex justify-between my-5">
        <span >{{product.price |currency:'GBP' }}</span>
        <span >{{product.ratingsAverage}}<i class="fa-solid fa-star text-rating"></i></span>
    </div>
    <p>{{product.createdAt | date:'short' }}</p>
    <p class="text-red-600">{{product.quantity | stock: 60 }}</p>
   </div>
    <button (click)="onAddToCart()" class="main-btn">Add To Cart</button>
</div>