

<nav class="bg-light fixed top-0 z-40 w-full border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="images/freshcart-logo.svg" class="h-8" alt="Flowbite Logo" />
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center cursor-pointer p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:w-auto md:flex justify-between grow mx-10" id="navbar-default">
      @if (layout=='auth') { <ul class="ms-auto font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-200 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/login" routerLinkActive="text-main" class="block py-2 px-3   rounded-sm md:bg-transparent  md:p-0 dark:text-white " aria-current="page">Login</a>
        </li>
        <li>
          <a routerLink="register" routerLinkActive="text-main" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:text-main md:hover:bg-transparent md:border-0  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Register</a>
        </li>
      </ul>}@else {
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a routerLink="/home" routerLinkActive="text-main" class="block py-2 px-3  rounded-sm md:bg-transparent  md:p-0 dark:text-white " aria-current="page">Home</a>
            </li>
            <li>
              <a routerLink="/products" routerLinkActive="text-main" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:text-main md:hover:bg-transparent md:border-0  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Product</a>
            </li>
            <li>
              <a routerLink="/category" routerLinkActive="text-main" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:text-main md:hover:bg-transparent md:border-0  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Category</a>
            </li>
            <li>
              <a routerLink="/brands" routerLinkActive="text-main" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:text-main md:hover:bg-transparent md:border-0  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Brands</a>
            </li>
            
          </ul>
          <ul class="font-medium flex  flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li class="relative ">
              <a routerLink="/cart" routerLinkActive="text-main" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:text-main md:hover:bg-transparent md:border-0  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Cart
                <i class="fa fa-shopping-cart"></i>
              <div class="absolute inline-flex items-center  justify-center w-6 h-6 text-xs font-bold text-white bg-main border-2 border-light rounded-full -top-4 -end-4 dark:border-gray-900">{{counter()}}</div>
              </a>
            </li>
            <li>
              <a (click)="logout()" routerLinkActive="text-main" class=" cursor-pointer block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-200 md:hover:text-main md:hover:bg-transparent md:border-0  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
            </li>
          
          </ul>
      }
       
      </div>
    </div>
  </nav>
  