@if (isLoading) {
@if (cartDetails.numOfCartItems!=0) {
    <section class="container mx-auto shadow bg-light p-10 py-16 m-5">
        <div class="flex justify-between">
            <div>
                <h1 class="text-3xl font-bold my-3">Shop Cart</h1>
                <p class="text-main font-bold my-1">Total Cart Price : {{cartDetails.data.totalCartPrice}} EGP</p>
            </div>
          <div>  <button (click)="clearCart()" class="bg-red-400 rounded text-white p-3 cursor-pointer ">Clear</button></div>
        </div>
        @for (item of cartDetails.data.products; track $index) {
        <app-cart-item [product]="item" (removeProduct)="removeProduct($event)"
            (updateCart)="updateQuantity($event.id,$event.count)" />
        }
        <div class="flex justify-between">
            <button routerLink="/products" class="main-btn opacity-100 w-auto">Continue Shopping</button>
            <button [routerLink]="['/checkout',cartDetails.cartId]" class="main-btn opacity-100 w-auto bg-black ">Check Out<span
                    class="ms-2">{{cartDetails.data.totalCartPrice}} EGP</span></button>
        </div>
    </section>
}@else {
<h2 class="text-main text-3xl text-center my-10">Cart is Empty...</h2>

}
}@else {
<h2 class="text-main text-3xl text-center my-10">Loading...</h2>
}